<style>
    .alertSuccess {
        width: 100%;
        height: 40px;
        padding: 10px;
        background-color: rgb(61, 207, 61);
        color: white;
    }
</style>

{{#if success_msg}}
    <div class="alertSuccess">{{success_msg}}</div>
{{/if}}


{{#if error_msg}}
    <div class="alert">{{error_msg}}</div>
{{/if}}
