<style>
    .container {
        width: 100%;
        height: 60px;
        background: rgb(49, 48, 48);
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        color: white;
    }
    .btn {
            padding: 10px 15px;
            background-color: teal;
            border: none;
            border-radius: 4px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }
        .area-pesquisa {
            color: white;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .area-pesquisa span{
            padding: 10px;
            border: 2px solid teal;
            cursor: pointer;
        }
        .title-navbar {
            color: white;
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 1.2px;
        }

</style>


<div class="container">
    <div class="logo">
        <a class="title-navbar" href="/">
        <h2 class="title-navbar">My Memories</h2>
        </a>
    </div>

    <div class="area-pesquisa">
        <a href='/categorias' class="title-navbar"> 
          <h4>Categoria</h4>
        </a>
        <a href="/postagens"  class="title-navbar">
        <h4>Postagens</h4>
        </a>

        <a href="/usuarios/login"  class="title-navbar">
        <span>Login</span>
        </a>
    </div>
</div>