<style>
.registro-container { 
        height: calc(100vh - 60px);
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .body-registro{
        background-color: white;
        height: 300px;
        width: 400px;
        border-radius: 6px;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
        padding: 26px;
    }
     .body-registro h2{
        margin-bottom: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: teal;
     }
    .body-registro form {
        display: flex;
        flex-direction: column;
    }
    .body-registro form label {
        color: rgb(3, 82, 82);
        margin-bottom: 2.5px;
        font-weight: bold;
    }
    .body-registro form input {
        margin-bottom: 15px;
        height: 32px;
        border-radius: 4px;
        border: none;
        background-color: #eee;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
        outline-color: teal;
        padding: 0 8px;
    }
    .btn {
        margin-top: 20px;
    }
    </style>

<div class="registro-container">
    <div class="body-registro">
    <h2>Faça seu login</h2>
        <form action="/usuarios/login" method="POST">
         <label for="email">Email: </label>
         <input type="email" class="form-control" name="email" >

         <label for="senha">Senha: </label>
         <input type="password" class="form-control" name="senha" >

        <button class="btn btn-login" type="submit">Entrar</button>
        </form>       
    </div>

</div>